.my-banner {
  width: 100%;
  height: 50px;
  font-size: 35px;
  text-align: center;
  color: aliceblue;
  background-color: blueviolet;
}

.inline-div {
  display: inline-block;
  width: 425px;
  height: 600px;
}

.noise-text {
  width: 600px;
  height: 100px;
}

.current-noise-text {
  width: 200px;
  height: 30px;
}
.noise-box {
  padding-bottom: 60px;
  padding-left: 20px;
}

textarea {
  resize: none;
  width: 90%;
  height: 100%;
  font-size: 13px;
}

.text-box-labels {
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.input-submit-button {
  width: 400px;
  height: 600px;
  float: right;
}

.div-button {
  margin-left: 20px;
  margin-right: 20px;
}
