.my-banner {
  width: 100%;
  height: 100px;
  font-size: 50px;
  text-align: center;
  color: aliceblue;
  background-color: blueviolet;
}

.inline-div {
  display: inline-block;
  width: 425px;
  height: 600px;
}

.noise-text {
  width: 600px;
  height: 100px;
}

.noise-box {
  padding-bottom: 60px;
  padding-left: 20px;
}

textarea {
  resize: none;
  width: 80%;
  height: 100%;
  padding-right: 10px;
  font-size: 20px;
}

.text-box-labels {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.input-submit-button {
  width: 150px;
  height: 600px;
  float: right;
}

.btn-secondary {
  padding-right: 20px;
}

.div-button {
  margin-left: 20px;
}
